*{
	text-decoration: none;
	padding: 0;
	
}

body {
	font-family: "Noto Sans", arial, sans-serif;
	font-size: 14pt;
	color: #022f40; /*colore standard del testo*/
	height: 100vh;
	margin: 0;
}


/*menù coi pulsanti della navigazione superiore*/
nav {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	background-color: #013A63;
	margin: 0;
	overflow: hidden;
}

.nav-links {
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	margin: 0;
	flex-shrink: 1;
}

nav a {
	font-family: Work Sans, arial, sans-serif;
	color: white;
	font-weight: 400;
	text-align: center;
	padding: 5px 16px;
	text-decoration: none;
	font-size: 16pt;
	margin: 0 5px;	
}
nav a:hover {
	border-bottom: 3px solid whitesmoke;
}

nav a.active {
	border-bottom: 3px solid whitesmoke;
}

nav .logo {
	margin-right: auto;
	padding: 0;
}

nav .logo:hover {
	border: none;
}

.nav-links.show {
  display: flex;              /* mostralo quando attivo */
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}


.logo img {
	margin: 0;
	padding: 10px;
	height: 50px;
	align-items: center;
}

nav.nav_home {
	background-color: transparent;
}



/* MEDIA QUERY: quando lo schermo è piccolo */
@media (max-width: 700px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #012A4A;
    position: absolute;
    top: 60px;
    right: 10px;
    width: 200px;
    padding: 1rem;
    z-index: 1;
  }

  .nav-links a {
  	margin: 10px 0;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block; /* mostra l’hamburger */
    margin-right: 20px;
  }
}

/*styling delle breadcrumbs*/
.breadcrumbs {
	background-color: #EDF2FB;
	margin: 0;
}
ul.breadcrumbs {
  padding: 10px 16px;
  list-style: none;
}

ul.breadcrumbs li {
  display: inline;
  font-size: 14pt;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumbs li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumbs li a {
  text-decoration: underline;
  color: #022f40;
}

/* Add a color on mouse-over */
ul.breadcrumbs a:hover {
  color: red;
}

ul.breadcrumbs li a:visited {
  color: #022f40;
}

.hero-image {
	background-image:linear-gradient(rgba(0, 0, 0, 0.3)), url(../images/cariatidi.jpg);
	height: 80%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
	text-align: left;
	top: 50%;
	transform: translateY(-50%);
	align-content: center;
	position: absolute;
	float: left;
	color: white;
	left: 3%;
}

.hero-text h1 {
	font-family: Cormorant Garamond, serif;
	font-size: 40pt;
}

.hero-text button {
	width: fit-content;
	display: flex;
	align-items: center;
	color: #293D38;
	background-color: #FF740A;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 100px, 0px;
  cursor: pointer;
  border-radius: 10px;	
	font-family: Work Sans, arial, sans-serif;
	font-size: 18pt;
	font-weight: 500;
}
.hero-text button i {
	display: inline-block;
  overflow: hidden;
  width: 0;              /* non occupa spazio */
  opacity: 0;
  /*transform: translateX(6px);*/
  transition: all 0.3s ease
} 

.hero-text button:hover i {
	width: auto;           /* si espande */
  opacity: 1;
  transform: translateX(0);
  margin-left: 8px; 
}

.hero-text button:hover {
  background-color: #FF9747;
}

.hero-text p {
	margin-top: 10%;
}

.hero-text .help_link {
	text-decoration: underline;
	text-decoration-color: #60DEFB;
	color: #60DEFB;
	text-align: center;
	align-items: center;
}

.hero-text .help_link:hover i {
	width: auto;           /* si espande */
  opacity: 1;
  transform: translateX(0);
  margin-left: 2px; 
  text-decoration: underline;
}

/* secondo livello homepage, le due box */
.container {
	display: flex;
	justify-content: space-evenly;
	align-items: stretch;
	padding: 30px 0;
	background-color: #EDF2FB; /*il colore chiaro dello sfondo di ovunque*/
}

.box {
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	min-height: 300px;
	width: 48%;
	background-color: #CCDBFD /*#D7E3FC*/;
	border-radius: 10px;
}

.box h1 {
	font-size: 26pt;
	margin: 20px 0 0 40px;
	font-family: Cormorant Garamond, serif;
}

.box li {
	font-size: 16pt;
	list-style-position: inside;
	margin: 0 10px 0 40px;
	line-height: 2;
}

/*bottone all'interno della box News and updates*/
.button-space {
	
	display: flex;
	justify-content: flex-end;
	height: auto;
}

.button-space button {
	display: inline-flex;
	align-items: center;
	border-radius: 5px;
	background-color: #468FAF;
	font-size: 15pt;
	cursor: pointer;
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px;
	margin: 30px;
	border: none;
	color: white;
}

.button-space i {
	display: inline-block;
  overflow: hidden;
  width: 0;             
  opacity: 0;
  transform: translateX(6px);
  transition: all 0.3s ease;
}

.button-space button:hover i {
	width: auto;          
  opacity: 1;
  transform: translateX(0);
  margin-left: 8px; 
}

.button-space button:hover {
	background-color: #;
	
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/*cards nel terzo livello*/
.more_info {
	background-color: #EDF2FB;
	padding: 50px 0;
}

.more_info h1 {
	padding: 30px 0;
	margin: 0;
	font-family: Cormorant Garamond;
	font-weight: 700;
	font-size: 40pt;
	text-align: center;
}

.card_container {
	display: flex;
	justify-content: space-evenly;
	padding: 40px 0;
}

.card {
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  background-color: #D7E3FC;
  transition: 0.3s;
  width: 30%;
  height: 60%;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  color: #E06100;
 	transition: 0.2s;
}

.card .container {
  border-radius: 10px;
  background-color: #D7E3FC;
}

.card .container h4 {
	font-weight: 500;
	font-size: 20pt;
}

.card img {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

@media (max-width: 600px) {
  .container {
  	flex-direction: column;
  	align-items: center;
  }

  .box {
  	width: 80%;
  	margin: 10px 0;
  }

  .card_container {
    flex-direction: column;
    align-items: center;
  }
  .card {
  	width: 80%;
  	margin: 10px 0;
  }
}

/*footer*/
footer {
	background-color: #012A4A;
}

.footer_content {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: flex-start;
	padding-bottom: 20px;
	color: #E2EAFC;
}

.footer_content i {
	color: #E2EAFC;
}

.footer_content a {
	color: #E2EAFC;
	font-size: 12pt;
}

.footer_content a:hover {
	text-decoration: underline;
	color: #FFA35C;
	transition-duration: 0.3s;
}

footer h4 {
	font-size: 16pt;
	font-weight: 400;
}

.first_column {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	flex-direction: column;
	margin: 0 40px;
	justify-content: center;
}

.icons {
	display: flex;
	justify-content: space-evenly;
	padding-top: 15px;
} 

i:visited {
	color: #E2EAFC;
}

.second_column {
	display: flex;
	align-content: center;
	flex-direction: column;
	margin: 40px;
	/*padding: 0 40px;*/
}

.third_column {
	display: flex;
	align-content: center;
	flex-direction: column;
	margin: 40px;
}

footer button {
	color: #022f40;	
	align-self: center;
	background-color: #FF801F;
	border: solid;
	border-color: #FF801F;
	border-radius: 5px;
	padding: 10px;
	margin-left: 70px;
	font-size: 15pt;
	font-weight: 600;
	cursor: pointer;
}

footer button:hover {
	background-color: transparent;
	border: solid;
	border-color: #FF801F;
	color: #FF801F;
	transition: 0.2s;
}

.footer_policy {
	padding-top: 30px;
	padding-bottom: 20px;
	font-size: 10pt;
}

.footer_policy a {
	padding: 0 20px;
}

.footer_policy a:hover {
	text-decoration: underline;
	color: #FFAE70;
}

.footer_policy a:visited {
	color: #E2EAFC;
}

/*Pagina TLG Canon*/
.research {
	padding: 0 5% 2% 5%;
	background-color: #EDF2FB;
}
.tabs {
  display: flex;
  justify-content: space-evenly;
}

/* Pulsanti dei tab */
.tab-button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 10px 10px 0 10px;
  flex: 1;
  padding: 12px;
  cursor: pointer;
  background: #CCDBFD;
  border: none;
  outline: none;
  font-size: 15pt;
  transition: background 0.3s;
  color: #022f40;
}

.tab-button:hover {
  background: #b1c7fc;
}

.tab-button.active {
  background: white;
  color: #022f40;
  font-weight: bold;
  border-left: solid #5885da;
  border-top: solid  #5885da;
  border-right: solid  #5885da;
}

/* Contenuto dei tab */
.tab-content {
  display: none;
  background: white;
  padding: 40px 30px 20px 30px;
  border-radius: 8px;
}

.tab-content.active {
  display: block;
}


/*styling elementi maschera di ricerca*/
.tab_title {
	display: flex;
	align-items: center;	
}

.tab_title h3 {
	font-family: Cormorant Garamond;
	font-size: 25pt;
	font-weight: 700;
}

.tab_title i {
	color: #FF740A;
	margin-left: 10px;
}

.tab_title a:visited {
	color: #FF740A;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
  width: 160px;
  background-color: #FFF4EB;
  color: #3D1B00;
  font-size: 12pt;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; /* Fade in */
  transition-delay: 0.5s;
}

.tooltiptext.bottom {
	visibility: hidden;
  width: 130px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 130%;
  left: 100%;
  margin-left: -60px;
}

.search-row {
  display: flex;
  flex-shrink: 1;
  gap: 10px;
  margin-bottom: 10px;
}

select, input[type="text"] {
  padding: 6px;
  border: 1px solid #89C2D9;
  border-radius: 4px;
  min-width: 120px;
  font-size: 14pt;
  color: #022f40;
}


#searchBtn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background: #FF740A;
  color: black;
  font-weight: 500;
  cursor: pointer;
  font-size: 15pt;
}

#searchBtn:hover {
	background: #ff9747;
}

#clearBtn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background: transparent;
  color: #022f40;
  font-weight: 500;
  cursor: pointer;
  font-size: 15pt;
}

#clearBtn:hover {
	background-color: whitesmoke ;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add_row {
  display: flex;
  justify-content: flex-start;
}

.clear_search {
	display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.del-btn {
  background-color: #D7E3FC;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #022f40;
}

#addRowBtn {
	padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #01497C;
  color: white;
}

/*#addRowBtn:hover {
	background-color: #b1c7fc;
}*/

.dropdown {
      position: relative;
      display: inline-block;
    }

/*permette di avere il contenuto diviso in due colonne (filtri e risultati di ricerca)*/
.page_content {
	display: flex;
	background-color: #EDF2FB;
}   

.filters {
 	width: 25%;
 	border: solid 1px #eee;
 	position: sticky;
 	top: 0;
 	height: fit-content;
 	background-color: white;
 	margin-left: 5px;
 	border-radius: 5px;
 }

.sort {
	display: flex;
 	align-items: center;
 	padding: 5px 15px;
 	gap: 10px;
 }


/* bottone dei filtri laterali con spazio per la freccia */
.dropbtn {
  padding: 10px 40px 10px 10px; /* spazio extra a destra */
  font-size: 15pt;
  cursor: pointer;
	border: 1px solid #89C2D9;
  border-radius: 8px;
  background: #d7e3fc;
  min-width: 80px;
  text-align: left;
  position: relative;
  color: #022f40;
}

.dropbtn:hover {
	background-color: #b1c7fc;
}

/* la freccia */
.dropbtn::after {
  content: "▾"; /* freccia verso il basso */
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  pointer-events: none; /* la freccia non blocca il click */
  transition: transform 0.3s;
}

/* quando il menu è aperto → freccia ruota */
.dropdown.show .dropbtn::after {
  transform: translateY(-50%) rotate(180deg);
}

    /* lista opzioni */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
			border: 1px solid #89C2D9;
      border-radius: 6px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      margin-top: 4px;
      z-index: 1;
      min-width: 100%;
    }

    .dropdown-content div {
      padding: 10px;
      cursor: pointer;
      transition: background 0.2s;
    }

    .dropdown-content div:hover {
      background-color: #ABC4FF;
    }

    .dropdown.show .dropdown-content {
      display: block;
    }

 .filters h3 {
 	padding-left: 15px;
 	font-size: 18pt;
 }

 .filters h4 {
 	font-weight: 500;
 }

/*styling zona dei risultati*/
.results {
	background-color: #EDF2FB;
	width: 75%;
}

.results_title {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.results_title h2 {
 	font-family: Cormorant Garamond, serif;
 	font-weight: 700;
 	font-size: 40pt;
 	padding: 10px 30px ;
 	margin: 0;
 }

.results_title button {
	margin-left: auto;
	margin-right: 5%;
	padding: 5px;
	height: fit-content;
	border: none /*solid #01497C*/;
	color: #01497C;
	font-size: 13pt;
	border-radius: 5px;
	background-color: transparent;
}

.results_title button:hover {
	cursor: pointer;
	background-color: #01497C;
	color: white;
	transition: 0.2s;
}

.item {
	display: flex;
	flex-direction: column;
	padding: 10px 40px;
}

.item button {
	width: fit-content;
	padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background: transparent;
  color: #FF740A;
  font-weight: 400;
  cursor: pointer;
  font-size: 15pt;
  margin-left: auto;
}

.item button:hover {
	text-decoration: underline;
	text-decoration-color: #FF740A;
}

.item h3 {
	font-family: Cormorant Garamond, sans-serif;
	font-size: 25pt;
	font-weight: 700;
	margin: 0;
}

.item p {
	margin: 0;
	padding:5px 20px ;
}

hr {
	width: 95%;
	justify-self: left;
}

/*styling pagination*/
.pagination {
	display: flex;
	justify-content: center;
	padding: 15px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
	background-color: #ddd;
}
/*pagina How to use TLG*/
.intro {
	background-color: #EDF2FB;
	padding: 20px;
}

.intro h2 {
	font-family: Cormorant Garamond, serif;
 	font-weight: 700;
 	font-size: 40pt;
 	padding: 10px 30px;
 	margin: 0;
}

.intro p {
	font-size: 18pt;
	padding: 10px 40px;
	margin: 0;
}

.intro hr {
	width: 98%;
}
/*styling delle tabs nella pagina how to use tlg*/

.tabs-container {
	display: flex;
	background-color: #EDF2FB;
	/*padding-bottom: 10%;*/
}

.tabs-container .tabs {
	display: flex;
	flex-direction: column;
	width: 25%;
	height: fit-content;
	margin-left: 3%;
}

.tabs-container .tab {
	padding: 24px 10px;
	background-color: #013A63;
	color: white;
	width: 100%;
	cursor: pointer;
	border-radius: 5px;
	margin-bottom: 10px;
	font-weight: 600;

}

.tabs-container .tab.active {
	background-color: #f6fdff;
	color: black;
	border-left: solid #5885da;
  border-top: solid #5885da;
  border-bottom: solid #5885da;
}

.tabs-container .content-container {
	background-color: #f6fdff;
	margin-right: 5%;
	margin-bottom: 5%;
	width: 75%;
	border-radius: 5px;
}
.tabs-container .content-container .content {
	display: none;
	padding: 10px 30px;
}

.content h3 {
	font-family: Cormorant Garamond, serif;
	font-weight: 700;
	font-size: 30pt;
}

.content p {
	font-size: 16pt;
	line-height: 1.5;
}


.tabs-container .content-container .content.active {
	display: block;
}